:root {
    --color-1: #FFA908;
    --color-1-hover: #ffa9089a;
    
    --color-2: #ffffff;
    --color-2-hover: rgba(221, 221, 221, 0.933);

    --color-3: #1e1e1c;
    --color-4: #C86FC9;
}


*{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

a{
    text-decoration:none;
    color: black;
}

.logo, .top_login, .top_about_us{
    height: 100%;
    text-align:center;
    transition: 0.7s;
}


.top_box{
    z-index: 2;
    position: fixed;
    display: flex;
    background-color: var(--color-2);
    height: 60px;
    width: 100%;
    justify-content: space-between;

    box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
}


.top_login, .top_about_us, .top_login_icon{
    color: var(--color-3);
    background-color: var(--color-2);
    line-height: 60px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
}

.top_login_icon{
    margin-top: 5px;
    margin-right: 20px;
    padding-left: 20px;
    width: 50px;
    height: 50px;
}

.top_box_right{
    display: flex;
}

.top_login:hover,  .logo:hover, .top_about_us:hover{
    background-color: var(--color-2-hover);
}

/* 上半部分 top-box */




/* 課程資訊 */

.class_detail_box{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    padding-top: 80px;

    width: 100%;
    height: 430px;
    background-color: var(--color-3);
    color: var(--color-2);
}

.collect_button_color{
    user-select: none;
    position: absolute;
    color: var(--color-3);

    font-size: 10px;
    margin-top: 35px;
    margin-left: 65px;

    transition: 0.7s;
}

.collect_button{
    display: none;
    font-size: 22px;
    background-color: var(--color-1);
    margin-top: 15px;
    margin-left: 10px;
    width: 105px;
    height: 25px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.7s;
}

.collect_button:hover{
    background-color: var(--color-1-hover);
}

.collect_button:hover > .collect_button_color{
    color: var(--color-2);
    margin-top: 15px;
}


.class_data{
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
}

.class_image{
    height:350px;
}

.class_detail_text{
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.detail_name{
    font-size: 40px;
    font-weight: bold;
}

.detail_departnemt{
    margin-top: 5px;
    font-size: 25px;
    font-weight: bold;
}

.detail_teacher{
    margin-top: 80px;
    font-size: 25px;
    font-weight: bold;
}

.detail_mark{
    margin-top: 10px;
    margin-right: 50px;
    display: none;
    flex-direction: row-reverse;
}

.star{
    height: 50px;
}

.detail_source{
    font-size: 20px;
    margin-right: 50px;
    line-height: 700px;
}



.class_detail_msg_box{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.detail_msg_title, .detail_web_title{
    font-size: 25px;
    margin-top: 30px;
}

.detail_data_text, .detail_web_url{
    margin-top: 10px;
    font-size: 20px;
    color: black;
}

.detail_web_url{
    color: #aaa;
}


.detail_web_title{
    margin-top: 50px;
}



/* 推薦課程 */

.clsee_detail_recommend{
    background: var(--color-1);
    margin-top: 70px;
}

.clsee_detail_recommend_title{
    background: var(--color-1);

    text-align: center;
    font-size: 30px;

    position: absolute;

    margin-top: -40px;
    margin-left: 50px;

    width: 170px;
    
}

.recommend{
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    min-height:200px;

    margin-left: 50px;
    margin-right: 50px;

    padding-top: 20px;
    padding-bottom: 70px;
}

.recommend_loading{
    position: absolute;
    margin-top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 350px;
}

.recommend > .class{
    border-radius: 8px;
    transition: 0.7s;
    height: 200px;
    width: 400px;
}

.class{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    background-color: white;

    display: flex;
    cursor: pointer;
    /* justify-content: space-between; */
    text-align: left;
}


.class:hover{
    box-shadow: 0px 0px 1.5em black;
}

.class_image, .class_text{
    margin-top: 25px;
}

.class_text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}


.class_text > .class_image{
    width:180px;
}

.class_image > img {
    margin-left: 15px;
    width: 150px;
}

.class_name{
    font-size: 25px;
    /* flex-grow: 4; */
    /* width: 100%; */
}

.class_num{
    font-size: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.class_item{
    /* flex-grow: 2; */
    /* width: 20% */
}

.class_mark{
    /* flex-grow: 1; */
    /* width: 10% */
}


/* 留言區 */


.message{
    width: 100%;
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
}


.message_title{
    font-size: 30px;
    position: absolute;
    margin-top: -40px;
    margin-left: 50px;
    width: 170px;
    text-align: center;
    background-color: var(--color-4);
}

.add_message_text{
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    padding-top: 20px;
}

.add_message_area{
    width: 100%;
}

.message_sending_box{
    margin-top: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 90px;
}

.user_icon{
    width: 70px;
    height: 70px;
}

.keyword{
    margin-left: 10px;
    margin-top: 20px;
    width: 800px;
    height: 35px;
}

.top_line{
    margin-top: 10px;
}

.message_line{
    text-align:center;

    display: flex;
    justify-content: center;

}

.line{
    width: 90%;
    border: 1px solid var(--color-2-hover);
}

.message_area{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 20px;
    border-radius: 5px;

    background-color: var(--color-2-hover);

    min-width: 1000px;
    /* height: 400px; */
    
    margin-top: 20px;
    margin-bottom: 20px;

    /* overflow-y:auto; */
    /* width: 1000px; */
}

.message_position{
    display: flex;
    justify-content:center;
}

.get_message{
    display: flex;
    margin-top: 20px;
    margin-left: 25px;
}

.self_message{
    margin-right: 25px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}

.user_msg_area{
    display: flex;
    text-align: left;
}

.user_name{
    margin-left: 5px;
    font-size: 15px;
}

.user_img_msg{
    width: 50px;
    height: 50px;
}

.user_msg{
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;

    padding-top:3px;
    padding-bottom: 3px;

    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    margin-right: 10px; 
}

/* 處理星星 */

.star{
    cursor: pointer;
}

.star1:hover + .star2, .star1:hover ~ .star3, .star1:hover ~ .star4, .star1:hover ~ .star5{
    content: url('../images/star2.png');
}

.star2:hover + .star3, .star2:hover ~ .star4, .star2:hover ~ .star5{
    content: url('../images/star2.png');
}

.star3:hover + .star4, .star3:hover ~ .star5{
    content: url('../images/star2.png');
}

.star4:hover + .star5{
    content: url('../images/star2.png');
}

.star1:hover, .star2:hover, .star3:hover, .star4:hover, .star5:hover{
    content: url('../images/star2.png');
}


/* 暫時用不到 */

.class_box_title{
    margin-bottom: -30px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    line-height: 50px;
}